<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Profile.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Foppoli Juan Martin</p>
        <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span>
            <h1>Sobre mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus, suscipit excepturi nesciunt nisi explicabo cupiditate dignissimos. Veritatis non magni sit sequi quisquam delectus, quidem, corrupti, adipisci esse doloribus corporis?</p>
        </span>
    </div>
</div>
