<div class="row">
    <h1> Habilidades</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
     <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'skill'"
        [titleFontSize]="'3em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
     </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'skill'"
    [titleFontSize]="'3em'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'skill'"
        [titleFontSize]="'3em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'skill'"
            [titleFontSize]="'3em'"
            [titleColor]="'black'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
    </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'skill'"
                [titleFontSize]="'3em'"
                [titleColor]="'black'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
    </div>
</div>