<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes" id="redes">
            
                <a href=""><img src="../../../assets/twitterlogo1.png" id="twitter"></a>
                <a href=""><img src="../../../assets/githublogo1.png" id="github"></a>
                <a href=""><img src="../../../assets/Linkedinlogo1.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light">Login</button>
            
            
        </div>
    </div>
</div>
